<html>
    <head>
        <title>Welcome to <%= @greeting_msg %></title>
    </head>
    <body>
        <h3>OS - <%= node['platform'] + ' v' + node['platform_version'] + ' (' + node['platform_family'] + ' family)' %> </h3>
        <h3>Hostname - <%= node['hostname'] %> </h3>
        <h3>IPAddress - <%= node['ipaddress'] %></h3>
    </body>
</html>
